
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #FFEEAD;
      --secondary-color: #000000;
    
  --navbar-height: 5rem;
  --navbar-blur: 12px;

  --color-primary: #FFEEAD;
  --color-secondary: #000000;
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
    }
  